/* Overlay of Hero Image */
.hero {
    background-image: url(./photo_beans.jpg);
    background-color: #404040;
    background-blend-mode: overlay;
    background-size: cover;

}

/* Center Text */
.hero-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 
background-size: 100%;
background-position: center;
background-origin: border-box;
background-repeat: space;
background-attachment: local; */