<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/register" method="POST">
        <div>
            <label for="username">Enter Username:</label>
            <input type="text" name="username" placeholder="Username" name="username">
        </div>
        <div>
            <label for="email">Enter your Email address:</label>
            <input type="email" name="email" placeholder="Email" name="email">
        </div>
        <div>
            <label for="password">Enter your password:</label>
            <input type="password" name="password" placeholder="Password" name="password">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>