#registrationForm {
    background-color: hsl(171, 100%, 41%);
    min-height: 100vh;
    display: flex;
    align-items: left;
    justify-content: center;
    text-align: left;
}

#form {
    margin: 80px 20px;
}