html {
    background-color: white !important;
}

/*
.recipe_card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}*/

#card {
    border: solid 1px hsl(171, 100%, 41%);
    margin: 0.5em;
}

#recipeOverview {
    display: flex;
    flex-wrap: nowrap;
}

#recipeOverview .card-image {
    min-width: 300px;
}

#backToIngredients {
    width: 150px;
    margin: 70px 30px 10px;
}