html {
    background-color: white !important;
}

#recipeOverview {
    display: flex;
    flex-wrap: wrap;    
    justify-content: flex-start;
}

#recipeOverview .card {
    margin: .5vw;
    border: solid 1px hsl(171, 100%, 41%);
    /* margin: 2.5em; */
    width: 23vw;
    flex: 1 0;
}


#recipeOverview .card-image img {
    width: 100%;
    height: 35vh;        
    object-fit: cover;    
}

#recipeOverview .card-content {
    display: flex;
    height: 6rem;
    padding: 0;
    align-items: center;
}

#recipeOverview .card-content p {
    text-align: center;
}

#backToIngredients {
    width: 150px;
    margin: 70px 30px 10px;
}